
h1,
h2,
h3,
h4,
h5,
h6{
  text-transform: capitalize;
  color: #848484;
  margin: 20px;
  font-weight: 500;
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
th{
  text-transform: capitalize;
}
Table{
  align-items: center;
}
